.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  /* align-content: center; */
  padding: 30px;
  align-items: center;
}

.leftText {
  text-align: left;
  font-size: 14px;
  width: 25%;
}

.socialFooter {
  text-align: right;
}

tr,td {
  margin: 40px;
}
td {
  font-weight: normal;

}