.ownerInfo {
  /* display: flex; */
  flex-direction: column;
  width: 60%;
  text-align: left;
  padding: 200px 0 200px 400px;
  font-size: 14px;
}

.greeting {
  margin: 0;
  font-size: 100px;
}

.ownerText {
  width: 400px;
  height: auto;
}